__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/

# pyenv
.python-version

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

/coverage.xml
/.coverage

# FalaAI
*.bak
tests/e2e/logs/
tests/e2e/run_examples.*
tests/e2e/run_docker.ps1
examples/_generate_*.mjs

# Sobras do openapi-generator
git_push.sh
.travis.yml
.gitlab-ci.yml
